.tasks{
    /* width: 100%;
    margin: auto;
    padding: 10px; */
}
#add-btn{
    padding: 10px;
    border-radius: 3px;
    border: none;
    font-size: 1.2em;
    background: #02b11c;
    color: #fff;
    cursor: pointer;
}
#add-btn:hover{
    background: #07db35;
}
.todoItems{
    display: flex;
    width: 98%;
    margin: 20px auto 0;
    padding: 5px 0 0;
    background: #292929;
    color: #fff;
    font-size: 1.2em;
    border-radius: 5px;
    justify-content: space-between;
}
.edit-saveBtn{
    display: flex;
}
.todoItems p{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 20px;
    padding: 7px;
}
.todoItems button{
    padding: 3px;
    margin: 5px;
}
.task-buttons{
    margin-right: 15px;
}
.save-btn{
    /* display: none; */
    height: 30px;
    border-radius: 3px;
    padding-top: 10%;
    border: none;
    font-size: 1em;
    background: #02b11c;
    color: #fff;
    cursor: pointer;
}
.save-edit{
    margin-top: 20px;
}
.save-btn:hover{
    background: #07db35;
}
.done-btn{
    background: transparent;
    border: none;
    border-radius: 3px;
    color: #008000;
    font-size: 1.1em;
}
.edit-btn{
    background: transparent;
    border: none;
    border-radius: 3px;
    font-size: 1.1em;
    color: #575458;
}
.edit-input{
    width: 80%;
    height: 30px;
    margin: 10px 15px;
    border-radius: 6px;
    border: none;
    font-size: 1.2em;
    color: #fff;
    background: #545252;
}
.delete-btn{
    background: transparent;
    border: none;
    border-radius: 3px;
    font-size: 1.1em;
    color: #da1717;
}
.done-btn:hover{
    border: 1px solid green;
}
.edit-btn:hover{
    border: 1px solid #575458;
}
.delete-btn:hover{
    border: 1px solid #da1717;
}

.isDone {
    background-color: #39ed24
}