.days{
    display: flex;
    padding: 15px 10px 0 15px;
}
.date{
    margin-left: 100px;
}
.AllTasks{
    width: 95%;
    min-height: 200px;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    background: #1f1f1f;
}
.AllTasks input{
    width: 90.7%;
    margin: 15px;
    margin-left: 15px;
    padding: 10px;
    border-radius: 3px;
    border: none;
    font-size: 1.2em;
    color: #fff;
    background: #79b1b1;
}
.AllTasks ::placeholder{
    color: #9c9c9c;
}