*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'roboto', 'poppins';
}
.main-content{
    display: flex;
    justify-content: space-between;
    background: #79b1b1;
}
.left-content{
    width: 85%;
}
.app-control{
    position: absolute;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #070707;
    z-index: 10;
}
.appControl-right i{
    margin: 0 5px;
}
#mini{
    position: relative;
    top: -5px;
  }
#header {
    width: 100%;
    height: 100px;
    color: #fff;
    background: #292929;
}
/* .empty-div{
    height: 100px;
} */
#task-content{
    color: #ffffff;
}
.daily-todo{
    text-align: center;
    padding: 35px 0 0;
    font-size: 2.5em;
}
#right-content{
    width: 15%;
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 98.5vh;
    color: #0c0c0c;
    background: #e3e2e2;
}
footer {
    min-height: 100px;
    color: #fff;
    background-color: #292929;
}


@media screen and (max-width: 600px){
    .left-content{
        width: 100%;
    }
    #right-content{
        display: none;
    }
    .app-control i{
        display: none;
    }

    /* All Tasks box Styling */
    .AllTasks{
        width: 95%;
        min-height: 60px;
        margin: 30px auto;
        padding: 10px;
        border-radius: 5px;
        background: #1f1f1f;
    }
    .AllTasks input{
        width: 76%;
        height: 30px;
        margin: 15px;
        margin-left: 15px;
        padding: 10px;
        border-radius: 3px;
        border: none;
        font-size: 1.2em;
        color: #fff;
        background: #79b1b1;
    }
    #add-btn{
        height: 30px;
        padding: 5px;
        border-radius: 3px;
        border: none;
        font-size: 1.2em;
        background: #02b11c;
        color: #fff;
        cursor: pointer;
    }

    #todoItems p{
        width: 86%;
        height: 20px;
        margin-left: 15px;
        padding: 5px;
        border-radius: 3px;
        border: none;
    }

    /* Buttons */
    #save-btn{
        /* display: none; */
        height: 25px;
        margin-bottom: -30px;
        border-radius: 3px;
        border: none;
        font-size: .7em;
        color: #fff;
        cursor: pointer;
    }
    .taskDone{
        background: transparent;
        border: none;
        border-radius: 3px;
        color: #008000;
        font-size: .8em;
    }
    #edit-btn{
        background: transparent;
        border: none;
        border-radius: 3px;
        font-size: .8em;
        color: #575458;
    }
    #edit-input{
        width: 80%;
        height: 30px;
        margin: 10px 15px;
        border-radius: 6px;
        border: none;
        font-size: 1.2em;
        color: #fff;
        background: #545252;
    }
    #delete-btn{
        background: transparent;
        border: none;
        border-radius: 3px;
        font-size:.8em;
        color: #da1717;
    }
}