*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'roboto', 'poppins';
}
.main-content{
    display: flex;
    justify-content: space-between;
    background: #79b1b1;
}
.left-content{
    width: 87%;
}
.app-control{
    position: absolute;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #070707;
    color: #fff;
    z-index: 10;
}
.appControl-right i{
    margin: 0 5px;
}
#mini{
    position: relative;
    top: -5px;
  }
header {
    width: 100%;
    height: 100px;
    background: #292929;
}
/* .empty-div{
    height: 100px;
} */
#task-content{
    color: #ffffff;
}
.daily-todo{
    text-align: center;
    padding: 35px 0 0;
    font-size: 2.5em;
}
#right-content{
    position: fixed;
    width: 13%;
    right: 0;
    bottom: 0;
    padding: 25px;
    text-align: center;
    height: 100vh;
    overflow: scroll;
    color: #0c0c0c;
    background: #659999;
    border-left: 1px solid #1f1f1f;
}
footer {
    min-height: 150px;
    color: #fff;
    background-color: #292929;
    text-align: center;
    padding-top: 10px;
}
.contact{
    padding-top: 40px;
}
footer i{
    font-size: 1.2em;
    padding: 10px 5px 0;
}
footer .fa-facebook{
    color: #2690e1;
}
footer .fa-instagram{
    color: #be21cc;
}
footer .fa-twitter{
    color: #2690e1;
}
footer .email{
    padding-top: 5px;
    color: #4db0fb;
    font-size: 1em;
    letter-spacing: 1px;
}
footer .policy{
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
    padding-top: 25px;
    letter-spacing: 1px;
}
footer .designBy{
    font-size: .8em;
    font-weight: 100;
}
footer span{
    color:  #4db0fb;
    font-weight: 600;
}
.footer-black{
    background: #070707;
}
.footer-black p{
    padding: 5px;
}


@media screen and (max-width: 600px){
    .left-content{
        width: 100%;
    }
    #right-content{
        display: none;
    }
    .app-control i{
        display: none;
    }

    /* All Tasks box Styling */
    .AllTasks{
        width: 95%;
        min-height: 60px;
        margin: 40px auto;
        padding: 10px;
        border-radius: 5px;
        background: #1f1f1f;
    }
    .AllTasks input{
        width: 76%;
        height: 30px;
        margin: 15px;
        margin-left: 15px;
        padding: 10px;
        border-radius: 3px;
        border: none;
        font-size: 1.2em;
        color: #fff;
        background: #292c2c;
    }
    #add-btn{
        height: 30px;
        padding: 5px;
        border-radius: 3px;
        border: none;
        font-size: 1.2em;
        background: #02b11c;
        color: #fff;
        cursor: pointer;
    }

    #todoItems p{
        width: 86%;
        height: 20px;
        margin-left: 15px;
        padding: 5px;
        border-radius: 3px;
        border: none;
    }

    /* Buttons */
    #save-btn{
        /* display: none; */
        height: 25px;
        margin-bottom: -30px;
        border-radius: 3px;
        border: none;
        font-size: .7em;
        color: #fff;
        cursor: pointer;
    }
    #taskDone{
        background: transparent;
        border: none;
        border-radius: 3px;
        color: #008000;
        font-size: .8em;
    }
    #edit-btn{
        background: transparent;
        border: none;
        border-radius: 3px;
        font-size: .8em;
        color: #575458;
    }
    #edit-input{
        width: 80%;
        height: 30px;
        margin: 10px 15px;
        border-radius: 6px;
        border: none;
        font-size: 1.2em;
        color: #fff;
        background: #545252;
    }
    #delete-btn{
        background: transparent;
        border: none;
        border-radius: 3px;
        font-size:.8em;
        color: #da1717;
    }
    .contact{
        padding-top: 10px;
    }
    .contact h2{
        font-size: 1.2em;
    }
    footer .email{
        font-size: .8em;
    }
    footer .policy{
        display: flex;
        justify-content: space-between;
        font-size: .7em;
        padding: 5px 5px;
        padding-top: 25px;
        letter-spacing: 1px;
    }
    footer .designBy{
        font-size: .8em;
        font-weight: 100;
    }
    .footer-black p{
        font-size: .9em;
    }
}